@define-color bg   rgba(35, 38, 52, 0.7);
@define-color bg2  rgba(186, 187, 241, 0.15);
@define-color bg3  rgba(41, 44, 60, 0.7);
@define-color bd   rgba(186, 187, 241, 0.3);
@define-color text rgba(198, 208, 245, 0.85);
@define-color dd   rgba(198, 208, 245, 0.35);

* {
    color: @text;
    font-size: 13px;
    font-weight: 700;
    font-family: "Noto Sans";
    transition: 250ms;
}

/* ==== CONTROL CENTER ==== */
.control-center {
    background-color: @bg;
    box-shadow: inset 0 1px 2px 0 @bd, inset 1px 1px 1px @bd;
}

/* ==== DND ==== */
.widget-dnd {
    margin: -50px 265px 0 6px;
}

.widget-dnd > switch {
    background: @bg2;
    box-shadow: inset 0 1px 2px 0 @bd, inset 1px 1px 1px @bd;
}

.widget-dnd > switch slider {
    background: @dd;
    min-width: 0;
    min-height: 0;
}

/* ==== MPRIS ==== */
.widget-mpris-player {
    margin: 2px 4px;
    box-shadow: 0 1px 2px 0 @bd, 1px 1px 1px @bd;
}

.widget-mpris-subtitle {
    font-size: 12px;
}

.widget-mpris button {
    outline: none;
    min-width: 0;
    min-height: 0;
    padding: 5px;
    margin-top: 10px;
}

.widget-mpris button:hover {
    background: alpha(@bd, 0.4);
    box-shadow: 0 1px 2px 0 @bd, 1px 1px 1px @bd;
}

/* ==== TITLE ==== */
.widget-title {
    margin: 6px 6px 0 110px;
}

.widget-title button {
    background: @bg2;
    box-shadow: inset 0 1px 2px 0 @bd, inset 1px 1px 1px @bd;
    min-width: 0;
    min-height: 0;
    padding: 8px;
}

.widget-title button:hover {
    background: @bd;
}

/* ==== NOTIFICATIONS ==== */
.notification-group {
    background: transparent;
    outline: none;
}

.notification-group-icon {
    -gtk-icon-size: 24px;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    background: transparent;
    box-shadow: inset 0 1px 2px 0 @bd, inset 1px 1px 1px @bd;
    min-width: 0;
    min-height: 0;
    padding: 4px;
    -gtk-icon-size: 16px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
    background: alpha(@bd, 0.4);
}

.notification {
    background-color: @bg3;
    box-shadow: inset 0 1px 2px 0 @bd, inset 1px 1px 1px @bd;
    padding: 6px;
}

.notification-default-action:hover {
    background: transparent;
}

.notification .notification-action:hover {
    background: alpha(@bd, 0.4);
    box-shadow: inset 0 1px 2px 0 @bd, inset 1px 1px 1px @bd;
}

.close-button {
    background: transparent;
    min-width: 0;
    min-height: 0;
    -gtk-icon-size: 0px;
}

.control-center .notification-background {
    padding: 4px 0;
}

/* ==== SCROLLBAR ==== */
scrollbar slider {
    min-width: 0;
    margin: 0;
    border: none;
}
