@import "../hypr/colors/colors.css";

* {
    color: @text;
    font-size: 13px;
    font-weight: 700;
    font-family: "Noto Sans";
    transition: 250ms;
}

/* ==== CONTROL CENTER ==== */
.control-center {
    background-color: @bg-swaync;
    box-shadow: inset 0 1px 2px 0 @bd, inset 1px 1px 1px @bd;
}

.widget {
    padding: 8px;
}

/* ==== MPRIS ==== */
.widget-mpris {
    margin: 0;
    padding-bottom: 0;
}

.widget-mpris-player {
    margin: 3px;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 @bd, 1px 1px 1px @bd;
}

.mpris-overlay {
    background-color: @bg-swaync;
}

.widget-mpris-subtitle {
    font-size: 12px;
}

.widget-mpris button {
    outline: none;
    min-width: 0;
    min-height: 0;
    padding: 5px;
    margin-top: 10px;
}

.widget-mpris button:hover {
    background: alpha(@bd, 0.4);
    box-shadow: 0 1px 2px 0 @bd, 1px 1px 1px @bd;
}

.widget-mpris > box > button {
    border-radius: 8px;
    background: @button;
    box-shadow: inset 0 1px 2px 0 @bd, inset 1px 1px 1px @bd;
}

.widget-mpris > box > button:first-child {
    margin: 3px 5px 2px 0;
}

.widget-mpris > box > button:last-child {
    margin: 3px 0 2px 5px;
}

.widget-mpris > box > button:hover {
    background: @bd;
    box-shadow: inset 0 1px 2px 0 @bd, inset 1px 1px 1px @bd;
}

/* ==== DND ==== */
.widget-dnd {
    margin: -50px 115px 0 0;
    padding-bottom: 0;
}

.widget-dnd > switch {
    background: @button;
    box-shadow: inset 0 1px 2px 0 @bd, inset 1px 1px 1px @bd;
}

.widget-dnd > switch:checked {
    background: @bd;
}

.widget-dnd > switch slider {
    background: @button2;
    min-width: 0;
    min-height: 0;
}

/* ==== TITLE ==== */
.widget-title {
    margin: 4px 3px 0 230px;
    padding-bottom: 6px;
}

.widget-title button {
    background: @button;
    box-shadow: inset 0 1px 2px 0 @bd, inset 1px 1px 1px @bd;
    min-width: 0;
    min-height: 0;
    padding: 6px;
}

.widget-title button:hover {
    background: @bd;
}

/* ==== NOTIFICATIONS ==== */
.widget-notifications {
    margin: 0 3px;
}

.notification-group {
    background: transparent;
    outline: none;
    padding: 0;
}

.notification-group-icon {
    -gtk-icon-size: 24px;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    background: transparent;
    box-shadow: inset 0 1px 2px 0 @bd, inset 1px 1px 1px @bd;
    min-width: 0;
    min-height: 0;
    padding: 4px;
    -gtk-icon-size: 16px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
    background: alpha(@bd, 0.4);
}

.notification {
    background-color: @bg2-swaync;
    box-shadow: inset 0 1px 2px 0 @bd, inset 1px 1px 1px @bd;
    border: none;
    padding: 5px;
}

.notification-default-action:hover {
    background: transparent;
}

.notification .notification-action:hover {
    background: alpha(@bd, 0.4);
    box-shadow: inset 0 1px 2px 0 @bd, inset 1px 1px 1px @bd;
}

.close-button {
    background: transparent;
    min-width: 0;
    min-height: 0;
    -gtk-icon-size: 0px;
}

.control-center .notification-background {
    padding: 4px 0;
}

/* ==== SCROLLBAR ==== */
scrollbar slider {
    min-width: 0;
    margin: 0;
    border: none;
}
