@define-color bg			rgb(30, 32, 48);
@define-color bg2			rgb(36, 38, 56);
@define-color bg3			rgb(44, 47, 68);
@define-color border		rgb(176, 178, 235);
@define-color b-text		rgb(188, 198, 240);
@define-color text-lt		rgb(130, 160, 230);
@define-color text-lt2		rgb(221, 120, 122);

@define-color accent		rgb(72, 78, 100);

@define-color bg-swaync		alpha(@bg, 0.7);
@define-color bg2-swaync	alpha(@bg2, 0.7);

@define-color bg-waybar		alpha(@bg, 0.7);
@define-color bg2-waybar	alpha(@bg2, 0.9);

@define-color bd			alpha(@border, 0.3);
@define-color bd2			alpha(@border, 0.1);

@define-color button		alpha(@b-text, 0.1);
@define-color button2		alpha(@b-text, 0.6);
@define-color text			alpha(@b-text, 0.85);
@define-color text-dim		alpha(@b-text, 0.35);
