@define-color bg            rgb(31, 29, 46);
@define-color bg2           rgb(38, 35, 58);
@define-color bg3           rgb(64, 61, 82);
@define-color border        rgb(156, 138, 176);
@define-color b-text        rgb(224, 222, 244);
@define-color text-lt       rgb(156, 175, 235);
@define-color text-lt2      rgb(235, 111, 146);

@define-color accent		rgb(97, 96, 121);

@define-color bg-swaync		alpha(@bg, 0.7);
@define-color bg2-swaync	alpha(@bg2, 0.7);

@define-color bg-waybar		alpha(@bg, 0.4);
@define-color bg2-waybar	alpha(@bg2, 0.5);

@define-color bd			alpha(@border, 0.3);
@define-color bd2			alpha(@border, 0.1);

@define-color button		alpha(@b-text, 0.1);
@define-color button2		alpha(@b-text, 0.6);
@define-color text			alpha(@b-text, 0.85);
@define-color text-dim		alpha(@b-text, 0.35);
