@import "../hypr/colors/colors.css";

@define-color window_bg_color @bg;
@define-color window_fg_color @b-text;
@define-color card_bg_color @bg3;
@define-color card_fg_color @window_fg_color;
@define-color sidebar_bg_color @card_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_backdrop_color @sidebar_bg_color;
@define-color sidebar_border_color @bd;
@define-color accent_bg_color @bd;
@define-color accent_fg_color @window_fg_color;
@define-color headerbar_bg_color @window_bg_color;
@define-color headerbar_fg_color @window_fg_color;
@define-color popover_bg_color @card_bg_color;
@define-color popover_fg_color @window_fg_color;
@define-color view_bg_color @window_bg_color;
@define-color view_fg_color @window_fg_color;
@define-color dialog_bg_color @card_bg_color;
@define-color dialog_fg_color @window_fg_color;

tooltip {
	background-color: @popover_bg_color;
	font-size: 12px;
	font-weight: 500;
	border-radius: 8px;
	border: 1px solid @bd;
}
tooltip label {color: @popover_fg_color;}

.thunar button,
.thunar toolbar button:hover,
dialog box.vertical button,
entry,
checkbutton check,
treeview check,
radiobutton radio {
    background: @button;
    box-shadow: inset 0 1px 2px 0px @bd, inset 1px 1px 1px @bd;
    border: none;
    outline: none;
}

button:hover,
button:checked,
button:focus,
dialog box.vertical button:hover,
dialog box.vertical button:checked {
    background: @bd;
    outline: none;
}
button:focus { outline: 2px solid @bd; }

.thunar toolbar button,
.thunar infobar box,
treeview.view header button {
    background-color: @window_bg_color;
    box-shadow: none;
}
treeview.view header button:hover { background: @bg3; }

selection { background-color: @accent_bg_color; }
scrollbar { background-color: transparent; }
menu { border: 1px solid @bd; }
menuitem:hover, separator { background-color: @button; }
window.popup decoration { box-shadow: none; }
messagedialog { border-radius: 0; }
frame > border { border: none; }

dialog notebook header tabs tab {
    margin: 0 2px;
    outline: none;
    border-radius: 0;
}
dialog notebook header tabs tab:hover,
dialog notebook header tabs tab:checked {
    box-shadow: inset 0 -4px 0 0 @bd;
    background: @bg;
}

spinbutton entry,
dialog box.vertical spinbutton button {
    background: transparent;
    box-shadow: none;
}
